header {
    position: relative;
    
    
}

.logo, .header {
    
}



#profile span {
    padding: 5px 10px;
}

#profile a {
    display: inline-block;
    text-decoration: none;
    
}

#profile a:hover {
    color: red;
}